@import '../style.css';

html, body{
  height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../imgs/background_index.jpg");
  
    /* Set a specific height */
    height: 100%;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
  }

.cursor{
  cursor:url(../imgs/mini-cursor.png), auto;
}


#brand-name{
  font-family: 'Press Start 2P' !important;
  font-size: 25px;  
}

#brand-name span{
  border-radius: 15px;
  padding: 20px;
}

#pokeballs{
  margin-right: 0px;
}

.pokemon{
  height: auto;
  width: 150px;

}

.pokemon:hover, #brand-name:hover, .team:hover{
  cursor:url(../imgs/mini-cursor-hover.png), auto;
}

.title{
  font-family: 'Press Start 2P';
  font-size: 120px;
  line-height: 90%;
}

section{
  margin-top: 200px;
  width: 99%;
}

#poketech span{
  background-color: #97e94f;
}

#about span{
  background-color: #31adee;
}

.team{
  width: 200px;
  height: auto;
}

.name{
  font-family: 'Press Start 2P';
  font-size: 14px;
  width: 200px;
}

#employee-name{
  visibility: hidden;
}

#employee-img:hover #employee-name{
  visibility: visible;
}

